@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --orange: #EB5E28;
    --black: #252422;
    --darkGray: #403D39;
    --lightGray: #CCC5B9;
    --white: #FFFCF2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "greycliff-cf", sans-serif;
}

h1 {
    font-variation-settings: "ital" 0, "wdth" 100, "wght" 800;
    font-weight: 800;
    font-size: 3em;
}

h2 {
    font-family: "greycliff-cf", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
}

h3 {
    font-family: "greycliff-cf", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25em;
}

p {
    font-family: "greycliff-cf", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* Background Color Classes */
.black-bg {
    background-color: var(--black);
}

.darkGray-bg {
    background-color: var(--darkGray);
}

.lightGray-bg {
    background-color: var(--lightGray);
}

.white-bg {
    background-color: var(--white);
}

/* Main Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.project-nav {
    grid-area: 1 / 1 / 2 / 2;
}

.grid-outlet {
    grid-area: 1 / 2 / 2 / 9;
}

/* Styles by class */
.button-cta {
    background-color: var(--orange);
    padding: 4px 15px;
    border-radius: 4px;
    transition: all 200ms ease;
}

.button-cta:hover {
    transform: scale(1.025);
}

.new-list-bttn {
    background-color: var(--black);
    color: var(--white);
    padding: 8px 50px;
    border-radius: 6px;
    transition: all 200ms ease;
}

.new-list-bttn:hover {
    transform: scale(1.025);
}